body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#viewport {
    width: 800px;
}

#top-controls {
    display: flex;
    flex-direction: row;
}

.parameter-control {
    display: flex;
}

.parameter-control.hide-control {
    display: none !important;
}

#slideshow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slide-label{
    display: inline-flex;
}

label {
    margin: 0px 12px;
}

circle {
    fill: lightblue;
    stroke: black;
}